<!DOCTYPE html>

<title>Shop</title>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://cdn.jsdelivr.net/npm/quasar@2.3.2/dist/quasar.prod.css"
  rel="stylesheet"
  type="text/css"
/>

<div id="app" class="q-gutter-md q-mx-md">
  <div class="full-width row justify-center items-center q-gutter-md">
    <q-card v-if="metadata.name" flat bordered>
      <q-card-section v-if="metadata.picture">
        <q-img :src="metadata.picture" fit="fill" />
      </q-card-section>
      <q-card-section>
        <div class="text-h4 text-primary">
          {{ metadata.name }} <q-icon name="storefront" />
        </div>
        <div class="text-subtitle">{{ metadata.description }}</div>
      </q-card-section>
    </q-card>
  </div>

  <div
    class="
      full-width
      row
      wrap
      justify-start
      items-start
      content-start
      q-gutter-md
    "
  >
    <q-card v-for="product in products" :key="product.key" flat bordered>
      <q-card-section
        v-if="product.value.picture && product.value.picture.length"
      >
        <q-img :src="product.value.picture" />
      </q-card-section>
      <q-card-section>
        <div class="text-h6">{{ product.value.name }}</div>
        <div v-if="product.value.description" class="text-subtitle2">
          {{ product.value.description }}
        </div>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn
          v-if="buying?.key !== product.key"
          push
          color="secondary"
          :label="`Buy for ${product.value.price.amount} ${product.value.price.unit}`"
          @click="click(product)"
        />
      </q-card-actions>
    </q-card>
  </div>

  <q-dialog v-model="isBuying">
    <q-card class="full-width full-height q-pa-md">
      <q-card-section
        v-if="buying.value.picture && buying.value.picture.length"
      >
        <q-img :src="buying.value.picture" fit="scale-down" />
      </q-card-section>
      <q-card-section>
        <div class="text-h6">{{ buying.value.name }}</div>
        <div v-if="buying.value.description" class="text-subtitle2">
          {{ buying.value.description }}
        </div>
      </q-card-section>
      <q-card-section>
        <q-input
          v-model="buyer"
          square
          outlined
          label="Buyer Contact Info"
          :hint="`For later delivery of '${buying.value.name}'.`"
        >
          <template #after>
            <q-btn
              color="primary"
              label="Confirm Purchase"
              @click="buy(buying)"
              :disabled="buyer.trim().length < 5"
            />
          </template>
        </q-input>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="isPaying" maximized persistent>
    <q-card class="bg-primary text-white">
      <q-card-section>
        <div class="row items-center justify-center">
          <div class="q-ma-md">Purchase ID: <code>{{ purchase }}</code></div>
          <div v-if="!paid">
            <q-spinner-hourglass color="secondary" size="100px" />
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="row justify-center">
          <div v-if="!paid" class="bg-white q-pa-md">
            <qrcode-vue :value="invoice.toUpperCase()" :size="300"></qrcode-vue>
          </div>
          <q-icon v-else name="done" size="300px">
        </div>
      </q-card-section>
      <q-card-section>
        <pre v-if="!paid"
          style="white-space: pre-wrap; word-break: break-all"
        ><code>{{ invoice }}</code></pre>
      </q-card-section>
    </q-card>
  </q-dialog>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.3.2/dist/quasar.umd.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode.vue@3.3.3/dist/qrcode.vue.browser.min.js"></script>
<script src="/static/app.js"></script>

<script>
  const app = Vue.createApp({
    components: {
      QrcodeVue
    },

    data() {
      return {
        metadata: {
          name: null,
          description: null,
          picture: null
        },
        products: [],
        buying: null,
        isBuying: false,
        buyer: '',
        invoice: null,
        purchase: null,
        isPaying: false,
        paid: false
      }
    },

    async mounted() {
      bitsapp.action('getmetadata').then(data => {
        this.metadata = data

        if (this.metadata.name) {
          document.head.querySelector('title').innerHTML = this.metadata.name
        }
      })

      bitsapp.action('getproducts').then(data => {
        this.products = data
      })

      bitsapp.on('sale-paid', id => {
        if (id === this.purchase) {
          this.paid = true
        }
      })
    },

    methods: {
      click(product) {
        this.buying = product
        this.isBuying = true
        this.buyer = ''
      },

      async buy(product) {
        const {invoice, sale} = await bitsapp.action('buy', {
          buyer: this.buyer,
          product: product.key
        })
        this.invoice = invoice
        this.purchase = sale
        this.isPaying = true
        this.buying = null
        this.isBuying = false
        this.buyer = ''
      }
    }
  })

  app.use(Quasar, {
    brand: {
      primary: '#f2eb1d',
      secondary: '#0d96d6',
      accent: '#e0367a',
      dark: '#383838',
      positive: '#36ad52',
      negative: '#660c17',
      info: '#95dfed',
      warning: '#F2C037'
    }
  })
  app.mount('#app')
</script>
